<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
    <title>Woowahan Boilerplate</title>
    <meta name="description" content="Woowahan Boilerplate" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

</head>
<body>
<div class="layout">
    <div class="super-wrap nav-layout">
        <nav class="side-nav side-nav-on" id="sidenav">
            <h3 class="authority">배달의민족 <strong>Super Admin</strong></h3>

            <ul class="nav-list">
                <li><a href="#">업주업소</a></li>
                <li><a href="#">업주업소</a></li>
                <li><a href="#">업주업소</a></li>
                <li>
                    <a class="depth" data-toggle="collapse" data-parent="#sidenav" href="#sub01" aria-controls="sub01">메뉴 뎁스</a>
                    <ul class="subnav-list collapse" id="sub01">
                        <li>
                            <a href="#">test nav</a>
                        </li>
                        <li>
                            <a href="#">test nav</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div class="wrapper">
            <div class="navbar navbar-fixed-top">
                <header class="container-fluid">
                    <div class="row">
                        <h1 class="sr-only">SUPER</h1>

                        <button type="button" class="navbar-toggle">
                            <i class="fa fa-bars"></i>
                        </button>

                        <ul class="top-link nav navbar-nav navi-list">
                            <li><a class="selected" href="#">top nav</a></li>
                            <li><a href="#">top nav</a></li>
                            <li><a href="#">top nav</a></li>
                            <li><a href="/export-super">EXPORT</a></li>
                        </ul>

                        <div id="gk_nav" class="navbar-right">
                        </div>
                    </div>
                </header>

            </div>

            <div class="main-contents">
            </div>

            <div>
            </div>
            <footer class="footer">
                <small class="copyright">Copyright &copy; <em>Woowa Brothers Corp</em>  All rights Reserved.</small>
            </footer>
        </div>
    </div>
</div>
</body>
</html>
